<div class="jumbotron">
  <div class="center">
    <h1>Welcome to Babych application production</h1>
    <h3>solution entertainment</h3>
    <h5>fusion fantom</h5>
  </div>
  <%= render "shared/flash"%>
  <p class="center">
    <%- if current_user %>
        Hello, <%= current_user.email %>
        <br/>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-lg" %>
    <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </p>
</div>